.w3-theme-l5 {color:#000 !important; background-color:#fef2f6 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fbd2e0 !important}
.w3-theme-l3 {color:#000 !important; background-color:#f6a6c1 !important}
.w3-theme-l2 {color:#fff !important; background-color:#f279a1 !important}
.w3-theme-l1 {color:#fff !important; background-color:#ed4d82 !important}
.w3-theme-d1 {color:#fff !important; background-color:#d91557 !important}
.w3-theme-d2 {color:#fff !important; background-color:#c1134d !important}
.w3-theme-d3 {color:#fff !important; background-color:#a91143 !important}
.w3-theme-d4 {color:#fff !important; background-color:#910e3a !important}
.w3-theme-d5 {color:#fff !important; background-color:#790c30 !important}

.w3-theme-light {color:#000 !important; background-color:#fef2f6 !important}
.w3-theme-dark {color:#fff !important; background-color:#790c30 !important}
.w3-theme-action {color:#fff !important; background-color:#790c30 !important}

.w3-theme {color:#fff !important; background-color:#e91e63 !important}
.w3-text-theme {color:#e91e63 !important}
.w3-border-theme {border-color:#e91e63 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#e91e63 !important}
.w3-hover-text-theme:hover {color:#e91e63 !important}
.w3-hover-border-theme:hover {border-color:#e91e63 !important}

h3 {
  color:#e91e63 !important
}

h4 {
  color:#ed4d82 !important
}

.verse {
  border: 1px solid #d91557;
  border-left: 10px solid #d91557;
  border-radius: 0px;
  background: #fef2f6;
  font-size: 18px;
  margin: 10px;
  padding:  10px 20px;
  
}
.verse span {
	font-size: 80%;
}
.hadith {
  border: 1px solid #f6a6c1;
  border-left: 10px solid #f6a6c1;
  border-radius: 0px;
  background: #fef2f6;
  font-size: 18px;
  margin: 10px;
  padding:  10px 20px;
  
}
.hadith span {
	font-size: 80%;
}


blockquote {
  border: 1px solid #f6a6c1;
  border-left: 10px solid #f6a6c1;
  border-radius: 0px;
  color:#000;
  background-color:#f1f1f1;
  font-size: 14px;
  margin: 10px;
  padding:  10px 10px;
  
}

a:link, a:visited {
color:#ed4d82;
}

.blockq {
  border: 1px solid #f6a6c1;
  border-left: 10px solid #f6a6c1;
  border-radius: 0px;
  color:#000;
  background-color:#fef2f6;
  font-size: 14px;
  margin: 10px;
  padding:  10px 10px;
  
}

.oikea {
	float: right;
}