/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document */


/* General */

* {
margin: 0;
padding: 0;
}

html {
height: 100%;
font-size: 62.5%;
}

body {
height: 100%;
text-align: center;
font: 1.2em Verdana, Arial, Helvetica, sans-serif;
background: #FFFFFF url('../img/bg.gif') repeat-x 0 0;
min-width: 950px;
padding-bottom: 60px; /* Simulates margin-bottom for wrapper in IE */
}

a:link, a:visited {
color: #326100;
text-decoration: underline;
font-weight: bold;
}

a:hover {
text-decoration: none;
}

.cleaner {
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
}

.noscreen {
display: none;
}


/* Paragraphs, headings, ... */

p {
line-height: 170%;
}

h1 {
font-size: 2.6em;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
color: #595959;
letter-spacing: 1px;
text-align: left;
padding: 25px 0 2px 15px;
margin-left: 30px;
border-bottom: 1px solid #EEEEEE;
background: url('../img/h1-bg.gif') no-repeat 0 34px;
}

h1 a:link, h1 a:visited {
font-weight: normal;
text-decoration: none;
color: #595959;
}

h2 {
font-size: 1.4em;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
color: #595959;
text-align: left;
margin: 6px 0 0 30px;
}

h3 {
color: #396E00;
font-size: 1.4em;
font-family: Georgia, "Times New Roman", Times, serif;
text-align: left;
letter-spacing: 1px;
margin: 30px 0 10px 0;
}

h3.first {
margin-top: 0;
}

h4 {
color: #009b00;
font-size: 1.1em;
font-family: Georgia, "Times New Roman", Times, serif;
text-align: left;
letter-spacing: 1px;
margin: 10px 0 10px 0;
}

h5 {
color: #000000;
font-size: 1em;
font-family: Georgia, "Times New Roman", Times, serif;
text-align: left;
letter-spacing: 1px;
margin: 10px 0 10px 0;
}



ul {
list-style-type: none; 
}


/* Images */

img.portfolio {
border: 3px solid #8ED8FF;
margin: 0 12px 16px 0;
}

a:hover img.portfolio {
border: 3px solid #FF6123;
margin: 0 12px 16px 0;
}


/* Site wrapper, content paragraph background */

#wrapper {
width: 950px;
margin: 35px auto 60px auto;
position: relative;
background-color: #FFFFFF;
border: 1px solid #C3C3C3;
display: table; /* margin-bottom for FF   (?) */
}

.division {
background-color: #E8FFD5;
border: 1px solid #72A938;
padding: 0.5em 0.9em;
margin-bottom: 17px;
}

.division p {
color: #1B4500;
margin: 10px;
}


/* Header */

#header {
margin: 0 auto;
height: 140px;
position: relative;
background: #FFFFFF url('../img/hd-bg.gif') repeat-x 0 0;
padding-right: 100px;
}

#header-wrapper { /* Matrjoska hack for IE quirk box model by Pixy (Petr Stanicek) [http://www.pixy.cz/] */
width: 950px;
}


/* Search form */

form.searching {
width: 188px;
position: absolute;
top: 25px;
right: 20px;
}

fieldset {
border: 0;
}

form.searching input.search {
letter-spacing: 1px;
float: left;
width: 134px;
padding: 2px 0 2px 6px;
background-color: #F7FFE8;
border: 1px solid #AFE37C;
}

form.searching input.hledat {
letter-spacing: 1px;
padding-left: 0;
font-weight: bold;
float: left;
margin-left: 4px;
}

form.searching label {
display: none;
}


/* Content boxes */

#content-box {
width: 100%;
margin: 0 auto;
text-align: left;
color: #151515;
position: relative;
}

#content-box-in {
width: 100%;
}

#content-box-left {
float: left;
width: 24%;
margin-bottom: 5em;
}

#content-box-right {
float: right;
width: 75%;
margin-bottom: 5em;
}

#content-box-left-in {
margin: 0.4em 0.3em 0 0;
}

#content-box-right-in {
margin: 0.4em 1.6em 0 0.6em;
}


/* Content boxes directives */

#content-box-left-in h3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
background: #50A100 url('../img/h3-bg.gif') repeat-x 0 0;
color: #FFFFFF;
margin: 0;
text-align: center;
line-height: 24px;
font-size: 1.1em;
}

#content-box-left-in p {
margin: 0 0 5px 12px;
line-height: 130%;
}

#content-box-left-in p.first {
margin-top: 10px;
}

#content-box-left-in p span {
color: #4B4B4B;
}

#content-box-left-in ul li {
text-align: center;
border-bottom: 1px solid #CFCFCF;
border-right: 1px solid #CFCFCF;
display: block;
}

#content-box-left-in ul li.last {
border-bottom: none;
}

#content-box-left-in ul li a, #content-box-left-in ul li a:visited  {
color: #316D00;
display: block;
padding: 0.4em 0;
width: 100%;
text-decoration: none;
font-weight: normal;
}

#content-box-left-in ul li a:hover, #content-box-left-in ul li a.active {
background-color: #DDFFBF;
font-weight: bold !important;
}


.ylos {
text-align: right;
margin:1em;
}

.verse   {
  width: 85%;
  margin: 1em auto 0.5em auto;
  font-size: 1em;
  color: #f00;
  font-weight: bold;
  text-align: center;
  background: White;
  }


.hadith   {
	width: 85%;
	margin: 1em auto 0.5em auto;
	font-size: 1em;
	color: #f00;
	font-weight: bold;
	text-align: center;
	background: White;
}


.bible  {
	width: 85%;
	margin: 1em auto 0.5em auto;
	font-size: 1em;
	color: #0f0;
	font-weight: bold;
	text-align: center;
	background: White;
}

.bibliography {
	list-style-type: circle;
	padding-left: 10px;
}

.normal-list {
	list-style-type: disc;
	padding-left: 35px;
}

.conclusion {
/* padding-left: 10px; */
	list-style: decimal inside;
}

blockquote {
	width: 90%;
	margin: 1em auto 1em auto;
	font-size: 1em;
	color: #026000;
	font-weight: bold;
}

/* Submit form */

form.send {
width: 450px;
position: relative;
top: 0;
left: 5px;
}

form.send fieldset {
padding: 10px 10px 5px 10px;
margin: 0 0 10px 0;
border: 1px solid #537E00;
}

form.send legend {
font-weight: bold;
color: blue;
margin-bottom: 10px;
padding: 3px 6px;
background-color: #537E00;
color: #FFFFFF;
}

form.send label {
width: 105px;
float: left;
height: auto;
display: block;
margin: 0 0 0 5px;
}

form.send br {
display: none;
}

form.send input, form.send select {
width: 300px;
margin-bottom: 15px;
}

form.send textarea {
width: 300px;
height: 130px;
margin-bottom: 10px;
}

form.send input.go {
margin-left: 110px;
width: auto;
padding: 1px 3px;
}

.oikea {
	float: right;
}

/* Footer */

#footer {
font-size: 0.9em;
margin-bottom: 5px;
}

#footer a, #footer a:visited {
padding: 1px 2px;
font-weight: normal;
}

#footer a:hover {
background-color: #326100;
color: #FFFFFF;
}
