BODY {
	BACKGROUND-COLOR: #ffffff; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Arial,Times New Roman,Georgia; MARGIN-LEFT: 0.5in; MARGIN-RIGHT: 0.5in
}
H1 {
	COLOR: #00bb00; FONT-FAMILY: "trebuchet ms","Times New Roman",Arial; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; TEXT-ALIGN: center
}
H3 {
	COLOR: #000066; FONT-FAMILY: "Arial","Times New Roman","Old English Text MT"; FONT-WEIGHT: bold
}
H2 {
	COLOR: #000000; FONT-FAMILY: "Arial","Times New Roman","Old English Text MT"; FONT-WEIGHT: bold
}
H3 {
	TEXT-ALIGN: left
}
H4 {
	COLOR: #000099; FONT-FAMILY: "Arial","Times New Roman",Verdana,"Old English Text MT"; FONT-WEIGHT: bold
}
H5 {
	COLOR: #000099; FONT-FAMILY: "Arial","Times New Roman",Verdana,"Old English Text MT"; FONT-WEIGHT: bold
}
H5 {
	TEXT-ALIGN: center
}

b {
	COLOR: #00bb00; FONT-FAMILY: "trebuchet ms","Times New Roman",Arial; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; TEXT-ALIGN: center
}

strong {
	COLOR: #00bb00; FONT-FAMILY: "trebuchet ms","Times New Roman",Arial; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; TEXT-ALIGN: center
}

P {
	TEXT-ALIGN: justify
}
BLOCKQUOTE {
	TEXT-ALIGN: justify
}
UL {
	TEXT-ALIGN: justify
}
OL {
	TEXT-ALIGN: justify
}
P.right {
	TEXT-ALIGN: right
}
PRE {
	TEXT-ALIGN: left
}
P.indent {
	MARGIN-LEFT: 25px; marginright: 25px
}
P.heading {
	
}
P.body {
	FONT-STYLE: normal
}
BLOCKQUOTE.A {
	FONT-FAMILY: times; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
CITE.footnote {
	FONT-FAMILY: times; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
P.footnote {
	FONT-FAMILY: times; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A {
	COLOR: #000099; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	COLOR: #00bb00; TEXT-DECORATION: underline
}
DIV {
	FONT-SIZE: 12px
}
